@import '../abstract/variaveis';

#curiosidades {
    margin-top: 4rem;
    .img-container {
        display: flex;
        justify-content: center;
        img {
            width: 360px;
            padding-bottom: 2px;
            border-bottom: 6px solid $cor-secundaria;
        }
        margin-bottom: 3rem;
        
    }
    .texto-curiosidades {
        margin: 0 auto;
        padding-bottom: 2rem;
        width: 720px;
        text-align: center;
        h3 {
            font-size: $tamanho-do-texto / 2.5;
            color: $cor-secundaria;
            text-transform: uppercase;
            font-weight: 300;
            margin: 1rem;
        }
        h4 {
            font-size: $tamanho-do-texto / 1.2;
            margin-bottom: 40px;
            font-weight: 300;
        }
        p {
            justify-content: center;
            font-weight: 300;
            font-size: $tamanho-do-texto / 3;
            line-height: 1.2rem;
            letter-spacing: 1px;
            color: $cor-primaria;
        }
    }

}