body{
    margin: 0;
    padding: 0;
    background: lightyellow
}


h1 {
    font-weight: bold;
    text-shadow: 2px 2px 2px gray;
    font-size: 2em;
}

header {
    background: yellow;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    border-bottom: 30px solid rgb(244, 244, 160);

}

div{
    margin-top: 10px;
    text-align: center;
}

.center-table {
    margin: auto;

}

button {
    height: 30px;
    width: 200px;
    font-size: 20px;
    font-weight: 500;
    background: yellow;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray;
}

button:hover{
    background-color: darkgoldenrod;
    transition: 500ms;
    cursor: pointer;
}

table, td, tr {
    border: 1px solid black;
    text-align: center;
    padding: 5px 5px;
    background: rgb(251, 249, 249);
}

td {
    padding: 10px 10px;
    width: 55px;
    height: 55px;
    font-weight: bold;
    font-size: 22px;
}

.invisivel {
    display: none;
}

.marcado {
    background: greenyellow;
}

